{{!-- Needs to do each for the comments --}}
<hr>

<div class="comms">
<h5>Reply to this job...</h5>
<p class="editable mt-3" contenteditable="true" id="comment" data-placeholder="Leave a reply..."></p>
<button class="btn btn-left btn-primary mt-2 mb-4" id="submit-comment">Submit reply</button>
<div class="comments">
  <hr>

<h5 class="mb-3">Other replies</h5>
  {{#if this}}
    {{#each this}}
      <div class="card singleComment mb-3" id="{{this.id}}">
          <section class="comment card-body">
              <img class="sm-pp" src="{{this.user.picture}}">
              <div class="text">
                  {{this.content}}
              </div>
              <div class="meta">
                  -{{this.user.username}}, 
                  {{format_date this.date_created}}
              </div>
          </section>
      </div>
   {{/each}}
  {{else}}
  <p>Looks like you're the first person here. To leave a response, use the box above. ☝</p>
  {{/if}}
</div>
</div>