<section>
    <div class="mx-auto col-sm-11 col-md-8 spacer">
        <img class="pp" src="{{userValues.picture}}">
        <h2 class="ml-4 headline">Welcome back, {{userValues.username}} <span class="badge sm-badge badge-primary">{{userRole}}</span></h2>
    </div>

    <div class="row mx-auto">
        {{#if checkCustomer }}
        <div class="border mx-auto col-sm-11 col-md-8 m-3 p-3">
            <p>My Jobs</p>
            {{#each myJobs as |myjob| }}
            <div class="col-md-12 job-post">
                <span class="badge flt-r badge-primary">{{myjob.role.category}}</span>
                <img class="sm-pp" src="{{myjob.user.picture}}">
                <h2 class="padding job-header"><a href="/jobs/{{myjob.id}}">{{myjob.title}}</a></h2>
                <p class="padding job-description">{{short myjob.description}}</p>
                <p class="padding job-info">{{format_date myjob.date_created}}</p>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="border col-sm-11 col-md-5 m-3 p-3">
            <h3 class="mb-5">My Jobs</h3>
            {{#each myJobs as |myjob| }}
            <div class="col-12 mb-5 job-post">
                <span class="badge flt-r badge-primary">{{myjob.role.category}}</span>
                <img class="sm-pp" src="{{myjob.user.picture}}">
                <h2 class="padding job-header"><a href="/jobs/{{myjob.id}}">{{myjob.title}}</a></h2>
                <p class="padding job-description">{{short myjob.description}}</p>
                <p class="padding job-info">{{format_date myjob.date_created}}</p>
            </div>
            {{/each}}
        </div>
        <div class="border col-sm-11 col-md-6 m-3 p-3">

            <h3 class="mb-3">Current Jobs</h3>
            <div class="mb-4">
                <label>Filter by:</label>
                <select id="filter-jobs" class="custom-select" onchange="filterJobs(this.value);">
                    <option value="">Choose...</option>
                    <option value="1">Customer</option>
                    <option value="2">Electrician</option>
                    <option value="3">Carpenter</option>
                    <option value="4">Glazier</option>
                    <option value="5">Gardener</option>
                    <option value="6">Plumber</option>
                    <option value="7">Builder</option>
                    <option value="8">Plasterer</option>
                    <option value="9">Decorator</option>
                </select>
            </div>
            {{#each otherJobs as |ojob| }}
            <div class="col-12 mb-5 job-post">
                <span class="badge flt-r badge-primary">{{ojob.role.category}}</span>
                <img class="sm-pp" src="{{ojob.user.picture}}">
                <h2 class="padding job-header"><a href="/jobs/{{ojob.id}}">{{ojob.title}}</a></h2>
                <p class="padding job-description">{{short ojob.description}}</p>
                <p class="padding job-info">{{format_date ojob.date_created}} | {{ojob.user.username}}</p>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</section>

<script src="/js/filter.js"></script>